.button {
	-fx-font-size: 12pt;
    -fx-font-weight: bold;
	-fx-text-fill: orangered;
}
#lblTitulo {
	-fx-font-size: 12pt;
    -fx-font-weight: bold;
	-fx-text-fill: orangered;
}
#lblTituloDerecha {
	-fx-font-size: 12pt;
    -fx-font-weight: bold;
	-fx-text-fill: orangered;
}
#fondo {
	-fx-background-image: url('file:C:/Users/Usuario/Documents/GitHubCristian/EclipseWorkspaceJavafx/prFinal/imagenes/fondo.jpg');
	-fx-background-size: cover;
}
#tableCoches {
	-fx-background-color: transparent;
}
